# Dependencies
node_modules/
.pnp
.pnp.js

# Testing and temp files
*.log
.env
.env.local
.env.*.local

# Vercel
.vercel

# Build output
public/
dist/
.output/

# Editor & OS
.DS_Store
Thumbs.db
*.sublime-workspace
.vscode/
.idea/
